TO DEBUG:
	duplicate values, some with different sums in DT song collection
    
    NO MORE! because no composers

In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
filename = 'dtFullSongs.csv'
df = pd.read_csv(filename, header = 0, delimiter= ',', index_col = False)
df = df.drop(['#'], axis = 1)

In [3]:
df.head()

,Song Code,Song Title,MechCollectShare,TUDTCREATED,SumIncome
0,120085,RUSH - CUES,100.0,2014-05-14 12:10:43.000,832711.00
1,361853,THE LITTLE PRINCE CUES,100.0,2015-08-25 16:40:11.000,141746.91
2,650152,Victorious,20.0,2016-07-27 17:01:21.980,42093.64
3,204208,I'll Never Forget You,100.0,2014-09-23 11:47:45.000,40840.44
4,123720,LOVE YOU LIKE A LOVE SONG,60.0,2014-05-14 12:37:36.000,24951.21

In [4]:
df = df.rename(index =str, columns = {'Song Code' : 'song_code', 
                                      'Song Title' : 'song_title', 
                                      #'TUCOMP' : 'composer', 
                                      'MechCollectShare' : 'mech_share', 
                                      #'Unnamed: 5' : 'date_created',
                                      'TUDTCREATED' : 'date_created',
                                      'SumIncome' : 'sum_income'})

In [5]:
df.head()

,song_code,song_title,mech_share,date_created,sum_income
0,120085,RUSH - CUES,100.0,2014-05-14 12:10:43.000,832711.00
1,361853,THE LITTLE PRINCE CUES,100.0,2015-08-25 16:40:11.000,141746.91
2,650152,Victorious,20.0,2016-07-27 17:01:21.980,42093.64
3,204208,I'll Never Forget You,100.0,2014-09-23 11:47:45.000,40840.44
4,123720,LOVE YOU LIKE A LOVE SONG,60.0,2014-05-14 12:37:36.000,24951.21

DROPPIN DUPS

In [6]:
## Count duplicates of a Song Code ## THIS IS VERY IMPORTANT TO KNOW!!! :) 
# 19
df.duplicated(['song_code', 'song_title', 'mech_share']).sum()

0

In [7]:
df.duplicated(['song_code']).sum()

0

In [8]:
# all duplicated songs that have different sum incomes
df[df.duplicated(['song_code'], keep=False)]

Empty DataFrame
Columns: [song_code, song_title, mech_share, date_created, sum_income]
Index: []

In [9]:
df = df.drop_duplicates(['song_code', 'song_title','mech_share', 'sum_income'])
df.duplicated(['song_code', 'song_title','mech_share', 'sum_income']).sum()

0

In [10]:
#check the one thats kept
#df.iloc[80, 0:]

In [11]:
## duplicate songs that don't match on sum_income = 4
# for these maybe i can add their sums together, I should do this before computing earnings tho
#df.duplicated(['Song Code', 'Song Title', 'MechCollectShare']).sum()

In [12]:
# all duplicated songs that have different sum incomes
# df[df.duplicated(['Song Code'], keep=False)]

In [13]:
#df.isnull().sum()

CREATE NEW EARNINGS COLUMN

In [14]:
# calc actual earnings
df['total_song_earnings'] = ((df['sum_income'] * 100) / df['mech_share'])
df = df.sort_values(by =['total_song_earnings'], ascending = False)

In [15]:
df['song_title'] = df['song_title'].str.strip().str.upper()
#df['composer'] = df['composer'].str.strip().str.upper()

df.head()

,song_code,song_title,mech_share,date_created,sum_income,total_song_earnings
0,120085,RUSH - CUES,100.0,2014-05-14 12:10:43.000,832711.00,832711.00
2,650152,VICTORIOUS,20.0,2016-07-27 17:01:21.980,42093.64,210468.20
22,12482,HANDS UP FOR DETROIT,5.0,2015-01-28 12:54:02.000,8681.00,173620.00
23,2238526,GET IT ON TONITE,5.0,2017-10-11 15:40:52.220,8571.18,171423.60
1,361853,THE LITTLE PRINCE CUES,100.0,2015-08-25 16:40:11.000,141746.91,141746.91

In [16]:
df.to_csv('full_songs.csv')

In [17]:
#df['Total'] = df.groupby(['Song Code', 'Sum Income'])#['Sum Income'].transform('sum')
#df = df.groupby(['Song Code', 'Song Title', 'MechCollectShare']).sum()#['Sum Income'].transform('sum')

#df.groupby(['Fruit','Name']).sum()
#zoo.groupby('animal').mean()[['water_need']] (This returns a DataFrame object.)
#test = df.groupby(['Song Code', 'Song Title']).sum()[['Sum Income']].sort_values(['Sum Income'], ascending = False)